<section class="langSelector">
    <span>
    <link href="/partials/langSelector/master.css" rel="stylesheet" type="text/css">
    <section class="text font-family-body">
        <p>Change language</p>
    </section>
    <section class="btn">
        <img src="/img/icons/flag/es.png" onclick="langSelector_es()">
    </section>
    <script src="/partials/langSelector/main.js"></script>
    </span>
</section>