<section class="signature">
    <span>
        <link href="/partials/signature/master.css" rel="stylesheet" type="text/css">
        <section class="font-family-body">
            <p>Code create by Leonardo Miguel Aguado Diaz</p>
        </section>
    </span>
</section>