<section class="titlePanel">
    <span>
        <link href="/partials/titlePanel/master.css" rel="stylesheet" type="text/css">
        <section class="sec-1 font-family-title">
            <h1>Switch Remote Control</h1>
        </section>
        <section class="sec-2 font-family-body">
            <p >Administration panel</p>
            <p class="btn-logout" onclick="window.location.href='/en/logout'">Log Out</p>
        </section>
    </span>
</section>