{{>es/titlePanel}}
{{>es/messages}}
<section class="add-background">
    <form action="#" method="POST">
        <input type="text" name="name" placeholder="nombre">
        <br>
        <input type="text" name="mac" placeholder="mac">
        <br>
        <input type="text" name="ping" placeholder="ping">
        <br>
        <input type="text" name="password" placeholder="contraseña">
        <br>
        <button type="submit">Vincular</button>
    </form>
    <button class="btn-panel" onclick="window.location.href='/es/panel'">Volver al panel principal</button>
</section>
{{>es/signature}}