<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switch Remote Control</title>
    <link rel="stylesheet" href="/css/master.css" type="text/css">
    <link rel="stylesheet" href="{{stylesheet}}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&family=Tourney:ital,wght@0,100;1,100&display=swap" rel="stylesheet">
</head>
<body id="body" class="font-family-body">
    {{{ body }}}
    <footer>
        <script src="/js/main.js"></script>
        <script src="{{script}}"></script>
    </footer>
</body>
</html>